.button {
	--btn-bg: var(--color-text);
	--btn-color: var(--color-background);

	background-color: var(--btn-bg);
	color: var(--btn-color);
	padding: 1rem 1.5rem;
	display: flex;
	width: fit-content; 
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	transition: all 0.3s cubic-bezier(0,.73,.36,.99);
	border-radius: 0.25rem;
	font-size: 1.5rem;


	&.lg {
		font-size: 2rem;
		padding: 1rem 2rem;
	}

	&.sm {
		font-size: 1rem;
		padding: 0.5rem 1rem;
		&:hover, &:focus {
			border-radius: 1.5rem;
		}
	}

	&.icon {
		padding: 1rem;
		font-size: 1.25rem;
		span {
			display: inline-block;
		}
	}

	&:hover, &:focus {
		border-radius: 2.5rem;
	}

	&:focus {
		outline: 4px solid color-mix(in srgb, var(--color-text)	, transparent 50%);
	}

	&.ghost {
		--btn-bg: transparent;
		--btn-color: currentColor;
		&:hover, &:focus {
			--btn-bg: var(--color-text);
			--btn-color: var(--color-background);
		}
	}
	&.primary {
		--btn-bg: var(--color-primary);
		--btn-color: var(--color-background);
	}
}

@media (max-width: 768px) {
	.button {
		&.icon {
			span {
				display: none;
			}
		}
	}
}